/* codigo para agregar la fuente del titulo */
/* @import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap'); */
/* @import url('hover-min.css'); */

@font-face {
    font-family:'Fredoka One';
    src: url(fuentes/FredokaOne-Regular.ttf);
}

@font-face {
    font-family:'Rampart One';
    src: url(fuentes/RampartOne-Regular.ttf);
}

@font-face {
    font-family:'Knewave';
    src: url(fuentes/Knewave-Regular.ttf);
}

body{
    background: linear-gradient(to right, #0f0f21, #302b63, #03011b);
    font-family: 'Fredoka One', cursive;
   /* background: linear-gradient(#085ff6, #74a5f8);
    background-size: 100vh 100vh;*/
}

.titulo{
    color:#D800A6;
    font-family: 'Rampart One', cursive;
    font-size: 50px;
    height: 122px;
    margin-block-end: auto;
    text-shadow: 0px 0px 20px #d500a3;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

/* SECCION SELECCIONAR HADA */
#seleccionar-hada{  /*centramos contenido*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subtitulo{
    color:rgb(0, 0, 0);
    background-color: #47B5FF;
    border-radius: 5px;
    width: 220px;
    height: 26px;
    font-size: 20px;
    margin: 30px;
    box-shadow: 1px 0px 20px 7px #0080d5; 
}

.tarjetas{
    display: flex;
    gap: 40px; /*separacion entre tarjetas*/
}

.tarjeta-hada{
    width: 100px;
    height: 100px;
    padding: 10px;
    color:white;
    background: linear-gradient(rgb(4, 4, 4), #CB1C8D);
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #CB1C8D;
    border-radius: 15px; 
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 1px 0px 20px 7px #d500a3;
}

.tarjeta-hada p{ /*el parrafo dentro de la clase va a tener estos estilos*/
    margin-bottom: initial;
    margin-top: initial;
}

.tarjeta-hada img{  /*nombre de la clase (espacio) nombre selector dentro de la clase*/
    width: 90px;
}

.tarjeta-hada:hover {
    cursor: pointer;
}

#boton-hada{
    width: 108px;
    height: 34px;
    border-radius: 10px;
    box-shadow: 1px 0px 20px 7px #47b5ff;
    background-color: #e8e2e7;
    color: rgb(0, 0, 0);
    margin: 20px;
    font-family: 'Fredoka One', cursive; 
}

#boton-hada:hover{
    cursor: pointer;
    background: #47b5ff;
    border: 3px solid #47b5ff;
    box-shadow: 1px 0px 20px 7px #47b5ff;
}



/*******SECCION BATALLA PERSONAJES******** */
#batalla{
    display: none;
    flex-direction: column;
    align-items: center;
}

.ataques{
    display: grid;
    grid-template-columns: 200px 100px 100px 100px 200px;
    gap: 30px;
    justify-items: center;
    align-items: center;
}

.ataque-jugador{
    background-color: white;
    width: 170px;
    height: 220px;
    box-shadow: 1px 0px 20px 7px #47b5ff;
    text-align: center;
}

.ataque-jugador, .ataque-enemigo{
    border-radius: 15px;
    
} 

.titulo-jugador{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: initial;
}

#vidas-jugador, #vidas-enemigo{
    font-size: 40px;
    margin-bottom: inherit;
    margin-top: inherit;
    color:red;
}

#hada-jugador{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: initial;
    text-shadow: 0px 0px 20px #0199f6;
}

.personaje{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personaje p{
    display: flex;
    width: 120px;
    height: 180px;
    justify-content: center; 
    margin-top: 0px;
}

#titulo-ataque-jugador{
    color: black;
    text-shadow: 0px 0px 20px #1500ff;
}

#ataques-del-Jugador{
    /* color:black; */
    color: #5582f7;
    font-size: 20px;
}  

#imagenHadaEnemigo{
    transform: scaleX(-1);
}

.vs-animacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto-vs-animacion{
    font-family: 'Knewave', cursive;
    font-size: 50px;
    color: red;
    text-shadow: 0px 0px 20px #f6011c;
}

/* animacion del texto VS *******************************/
@keyframes blink {  
    0% { color: red; }
    100% { color: rgb(48 43 99); }
  }
  @-webkit-keyframes blink {
    0% { color: red; }
    100% { color: rgb(48 43 99); }
  }
  #texto-vs-animacion {
    /* -webkit-animation: blink 1s linear infinite;
    -moz-animation: blink 1s linear infinite; */
    animation: blink 1s linear infinite;
  }
/* ******************************************************/

.ataque-enemigo{
    background-color: rgb(26 22 63);
    box-shadow: 1px 0px 20px 7px #d500a3;
    width: 170px;
    height: 220px;
    text-align: center;
}

.titulo-enemigo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: initial;
}

#hada-enemigo{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: initial;
    text-shadow: 0px 0px 20px #f601d7;
}

#titulo-ataque-enemigo{
    color: white;
    text-shadow: 0px 0px 20px #fbfe11;
}
#ataques-del-Enemigo{
    /* color:white; */
    color: #5582f7;
    font-size: 20px;
}
/* **************************** */
/* SECCION SELECCIONAR ATAQUES */
#seleccionar-ataque{
    display: none;
    flex-direction: column; /*no se usa justify content si usams flex-direction*/
    align-items: center;
    color: white;
    text-align: center;
}

.botones{
    display: flex;
    gap: 28px;
    margin-top: 30px;
}

.botones img{
    width: 30px;
    height: 54px;  
    display: flex;  
}

.boton-ataque{
    background: linear-gradient(rgb(4, 4, 4), #CB1C8D);
    border: 3px solid #CB1C8D;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px; 
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    width: 84px;
    height: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    box-shadow: 1px 0px 20px 7px #d500a3;
}

.boton-ataque:hover {
    cursor: pointer;
}

#boton-fuego:hover{
    background: linear-gradient(rgb(4, 4, 4), #f65600);
    border: 3px solid #f65600;
    box-shadow: 1px 0px 20px 7px #f65600;
}

#boton-agua:hover{
    background: linear-gradient(rgb(4, 4, 4), #47b5ff);
    border: 3px solid #47b5ff;
    box-shadow: 1px 0px 20px 7px #47b5ff;
}

#boton-flores:hover{
    background: linear-gradient(rgb(4, 4, 4), #7b47ff);
    border: 3px solid #7b47ff;
    box-shadow: 1px 0px 20px 7px #7b47ff;
}

#mensajes{
    color: rgb(0, 0, 0);
    width: 300px;
    background: #ffffff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: 3px solid  #47B5FF;
    box-shadow: 1px 0px 20px 7px #47B5FF;
}

#boton-reiniciar{
    width: 120px;
    height: 34px;
    border-radius: 10px;
    background-color: #000000;
    color: rgb(255 255 255);
    margin: 10px;
    font-family: 'Fredoka One', cursive;
    box-shadow: 1px 0px 17px 0px #47b5ff;
}

#boton-reiniciar:hover{
    cursor: pointer;
    background:#47b5ff;
    color: rgb(0, 0, 0);
    font-family: 'Fredoka One', cursive;
    box-shadow: 1px 0px 17px 0px #47b5ff;
}

input{
    display: none;
}

input:checked + label{
    border: 3px solid #47b5ff;
    background: linear-gradient(rgb(4, 4, 4), #47b5ff);
    box-shadow: 1px 0px 17px 0px #47b5ff;
}

/* se reacomodan las tarjetas para tamaños de pantalla pequeños */
@media(max-width:360px){
    .tarjetas{
        flex-direction: column;
    }
 }/**************************************************************/

.swal2-title{
    padding: 0px;
}
/* ANIMACION FLOAT SHADOW PARA INPUT TARJETAS HADAS*/
input + label {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  input + label:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }
  input + label:hover, input + label:focus, input+ label:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
  }
  input + label:hover:before, input + label:focus:before, input + label:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }
/*FIN******************************************************/


  